.QWidget{
    font-size: 50px;
    background: rgb(255, 123, 0);
}
.QPushButton{
    background: red;
    font-size: 25px;
    border-radius: 8px;
    height: 400px;
    width: 400px;
}
.QPushButton:hover{
    background: blue;
    border-radius: 8px;
    font-size: 25px;
}
.QLabel{
    font-size: 50px;
}